<div>
  <%= image_tag @post_image.get_image %>

  <p>ショップ名：<%= @post_image.shop_name %></p>

  <p>説明：<%= @post_image.caption %></p>

  <!--post_imageから持ってくるように変更する-->
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>

  <p>ユーザーネーム：<%= @post_image.user.name %></p>

  <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

  <!--ユーザーが投稿した本人の場合のみ削除ボタンが現れる-->
  <% if @post_image.user == current_user %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>

  <!--いいね機能の表示→すでにいいねした人は削除が、まだの人はいいねできるように分岐-->
  <% if @post_image.favorited_by?(current_user) %>
    <p>
      <!--すでにいいねした場合-->
      <%= link_to post_image_favorite_path(@post_image), method: :delete do %>
        ♥<%=@post_image.favorites.count %>いいね
      <% end %>
    </p>

  <% else %>
    <p>
      <!--まだいいねしていない場合-->
      <%= link_to post_image_favorite_path(@post_image), method: :post do %>
        ♡<%= @post_image.favorites.count %>いいね
      <% end %>
    </p>
  <% end %>

</div>

<div>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  <% @post_image.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>

    <!--本人の場合に削除ボタンを表示させる-->
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <!--post_commentはpost_imageに結びついているため、インスタンス変数は両方指定する必要がある-->
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>